@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.b-description {
  font-family: 'Lato';
}

.b-description__title {
  color: #20A6FF;
  font-size: 36px;
}

.b-description__title p {
  font-size: 48px;
  margin: 0;
}

.b-description__title span {
  color: #162C56;
  font-size: 56px;
}

.b-description__title b {
  font-size: 48px;
}

.b-picture {
  position: relative;
}

.b-picture__banbif {

}

.b-picture__banbif img {
  max-width: 100%;
}

.b-picture__prices {
  position: absolute;
  right: 55px;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.b-prices__operator {
  margin: -5px 0;
  z-index: 9;
  width: 100%;
}

.b-price {
  background: #FFFFFF;
  box-shadow: 0.1px 14px 32px #D5DFEB;
  border-radius: 24px;
  color: #162C56;
  width: 100%;
  max-width: 189px;
  height: 81px;
}

.b-price__number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.b-price__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.form {
  max-width: 320px;
  margin: auto;
}

.b-form__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #696F72;
}

.b-form__title span {
  font-weight: 700;
}

.form-control::placeholder {
  color: #A1A1A1;
  font-size: 14px;
}

.form-control,
.form-select {
  border: 1px solid #A1A1A1;
  border-radius: 8px;
}

.form-check-label {
  color: #5B5B5B;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.form-check-label a {
  color: #20A6FF
}

.btn-custom {
  border-radius: 50px;
  background: linear-gradient(90deg, #AD96DC 2.83%, #20A6FF 100%);
  border: none;
  width: 320px;
  height: 56px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width:1024px) {
  .b-picture__banbif {
    max-width: 320px;
  }
}

@media screen and (max-width:1024px) {
  .b-description__title {
    font-size: 24px;
  }

  .b-description__title p {
    font-size: 30px;
  }

  .b-description__title span {
    font-size: 35px;
  }

  .b-description__title b {
    font-size: 35px;
  }

  .b-picture__prices {
    right: 0;
  }

  .b-price {
    max-width: 130px;
    height: 60px;
  }

  .b-price__number {
    font-size: 17px;
  }

  .b-price__text {
    font-size: 10px;
  }
}